
.btn{
  text-transform: uppercase;
  letter-spacing: $spacing;
  color: $clr-darkColor;
  border: 2px solid $clr-darkColor;
  padding: 0.45rem 0.8rem;
  display: inline-block;
  transition: $transition;
  cursor: pointer;
  font-size: 0.8rem;
  background: transparent;
  border-radius: $borderRadius;
  display: inline-block;
}
.btn:hover {
  background: $clr-darkColor;
  color: $clr-white;
}
