
.btn-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.btn{
  text-transform: uppercase;
  letter-spacing: $spacing;
  color: $clr-darkColor;
  border: 2px solid $clr-darkColor;
  padding: 0.45rem 0.8rem;
  display: inline-block;
  transition: $transition;
  cursor: pointer;
  font-size: 0.8rem;
  background: transparent;
  border-radius: $borderRadius;
  display: inline-block;
}
.btn:hover {
  background: $clr-darkColor;
  color: $clr-white;
}

.btn-page {
  width: 2rem;
  height: 2rem;
  background: $clr-lightColor;
  color: $clr-black;
  border-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.5rem;
  transition: $transition;
}
.btn-active {
  background: $clr-darkColor;
  color: $clr-white;
}
.btn-prev,
.btn-next {
  background: transparent;
  border-color: transparent;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: $spacing;
  margin: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

@media screen and (min-width: 775px) {
  .btn-container {
    margin: 0 auto;
    max-width: 700px;
  }
}